
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"  style="padding-left: 2%;padding-right: 4%;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/home" style="color: beige;">MoveMyFurniture</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav justify-content-center navbar-brand " style="color: beige;">
      <h5 >Partner with us as a:</h5>
    </div>
    <div class="d-flex">
   
      <ul class="nav justify-content-end">
       
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/userreg" style="color: beige;"><h5>Customer</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/driverreg" style="color: beige;"><h5>Driver</h5></a>
        </li>
       
      </ul>
        
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#" routerLink="/login">Login</a></li>
           
            <li><a class="dropdown-item"  (click)="logout()" href="#" routerLink="/home" >Log out</a></li>
          </ul>
        </li> -->
    
      
    </div>
  </div>
 
</nav>


<router-outlet></router-outlet>
<app-footer></app-footer>

