

<div class="d-flex justify-content-center">
<div class="card mb-3" style="border-color: white;">
  <img src="../assets/images 11.jpeg" class="card-img-top" alt="...">
  <div class="card-body " >
    <p class="card-title text-justify" style="color: rgb(60, 60, 162);">MoveMyFurniture are tools used to fasten and secure the faces of assemblies.</p>
    <p class="card-text text-justify" style="color: rgb(245, 245, 249);">They are threaded and come with a matching nut.</p>
    <p class="card-text text-justify" style="color: rgb(238, 238, 243);">Their purpose is to connect aligned unthreaded holes by being placed through the aligned holes and secured with the MoveMyFurniture nut</p>
  </div>
</div>
</div>

