.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}


  
  .password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .eyeBoarder {
    border-left: 0px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
  }
  
  
  
 
  
  
  
  