<section class="h-100 bg-image"
style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Booking form</h3>
                  <form [formGroup]="fb" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input  type="text" class="form-control" id="pick" formControlName="pick"/>
                        <label class="form-label" for="pick">Pick up location</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input  type="text" class="form-control" id="drop" formControlName="drop"/>
                        <label class="form-label" for="drop">Drop up location</label>
                      </div>
                    </div>
                  </div>
                  
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input  type="text" class="form-control" id="cellno" formControlName="cellno"/>
                        <label class="form-label" for="cellno">Contact no</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input  type="text" class="form-control" id="altno" formControlName="altno"/>
                        <label class="form-label" for="altno">Alternate contact</label>
                      </div>
                    </div>
                  </div>
                  
  
                  
  
                    <!-- <h6 class="mb-0 me-4">Choose appliances you have: </h6>
                    <br/>

                    
  
                   
  
                    
  
                   
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
  
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="tv">
                            <label class="form-check-label" for="flexCheckDefault">
                              TV
                            </label>

                            
                          </div>
                          
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fridge">
                            <label class="form-check-label" for="fridge">
                              Fridge
                            </label>

                            
                          </div>
                          
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="bed">
                            <label class="form-check-label" for="bed">
                              Bed
                            </label>

                            
                          </div>
                          
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="chest">
                            <label class="form-check-label" for="chest">
                                chest of drawer
                            </label>

                            
                          </div>
                          
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="couch">
                            <label class="form-check-label" for="couch">
                              Couch
                            </label>

                            
                          </div>
                          
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                        <input class="form-check-input" type="checkbox" value="" id="tvstand">
                        <label class="form-check-label" for="tvstand">
                          Tv stand
                        </label>
  
                    </div>
                  </div> -->
                  
  
                  <div class="form-outline mb-4">
                    <input  type="text" class="form-control"  id="noitems" formControlName="noitems"/>
                    <label class="form-label" for="noitems">total no of items</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input  type="text" class="form-control"  id="need" formControlName="need"/>
                    <label class="form-label" for="need">Need assistant(yes/no)</label>
                  </div>
  
                  
  
                  
  
                  
  
                  <div class="d-flex justify-content-end pt-3">
                  
                    <button type="button" class="btn btn-lg ms-2" style="background-color:grey;">Submit form</button>
                  </div>
                </form>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
